* {
    box-sizing: border-box;
}
body {
    background-color: #9c6644;

}

.beige {
    background-color: beige;
    height: 10vh;
}

.negro {
    background-color: black;
    height: 10vh;
}
.centrar {
    display: flex;
    justify-content: center;
}
.footer {
    margin: 20px;
    background-color: beige;
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
    
}
.macondo-regular {
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
  }  